{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="jumbotron text-center" >
    <h1 class="custom-h1">Simplify Complex RAG Processes!</h1>
    <p class="custom-p1">Explore, manage, and optimize your RAG configurations with just a few clicks</p>
    <a href="/configs" class="btn btn-primary"><p class="custom-p2">Manage Configurations</p></a>
    <a href="/configs/form" class="btn btn-success"><p class="custom-p2">Build a Configuration</p></a>
</div>
{% endblock %}
